[Unit]
Description=Home App

[Service]
User=home.svc
Group=homers
WorkingDirectory=/opt/home_app/awesome_app
ExecStart=/usr/bin/java -jar /opt/home_app/awesome_app/home_app.jar
Restart=on-failure

[Install]
WantedBy=multi-user.target
